.container {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  margin-left: calc(20rem + 45vw);
  width: calc(3rem + 4vw);
  height: calc(3rem + 4vw);
  margin-top: 25px;
  pointer-events: none;
}

.relative {
  position: relative;
}

.eye {
  height: 3.5rem;
  width: 2.5rem;
  border: 1px solid var(--clr-black);
  border-radius: 50%;
  position: absolute;
  margin-top: 30px;
  background-color: var(--clr-white);
  transition: background-color 0.3s ease-in-out;
}

.right {
  margin-left: 30px;
}

.iris {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iris div {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid var(--clr-black);
  background-color: var(--clr-blue-dark);
  border-radius: 50%;
}
